In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [101]:
df=pd.read_csv(r"C:\Users\ADMIN\sars_2003_complete_dataset_clean.csv")

In [102]:
df.head()

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
0,3/17/2003,Germany,1,0,0
1,3/17/2003,Canada,8,2,0
2,3/17/2003,Singapore,20,0,0
3,3/17/2003,"Hong Kong SAR, China",95,1,0
4,3/17/2003,Switzerland,2,0,0

In [103]:
df.values

array([['3/17/2003', 'Germany', 1, 0, 0],
       ['3/17/2003', 'Canada', 8, 2, 0],
       ['3/17/2003', 'Singapore', 20, 0, 0],
       ...,
       ['7/11/2003', 'United Kingdom', 4, 0, 4],
       ['7/11/2003', 'United States', 75, 0, 67],
       ['7/11/2003', 'Viet Nam', 63, 5, 58]], dtype=object)

In [104]:
df.Country.unique

<bound method Series.unique of 0                    Germany
1                     Canada
2                  Singapore
3       Hong Kong SAR, China
4                Switzerland
                ...
2533             Switzerland
2534                Thailand
2535          United Kingdom
2536           United States
2537                Viet Nam
Name: Country, Length: 2538, dtype: object>

In [105]:
df.isnull().sum()

Date                            0
Country                         0
Cumulative number of case(s)    0
Number of deaths                0
Number recovered                0
dtype: int64

In [106]:
from sklearn.preprocessing import OneHotEncoder
onhot=OneHotEncoder()

In [107]:
features=['Date','Country','Cumulative number of case(s)','Number of deaths']
label=['Number recovered']

In [108]:
X=df[features]
y=df[label]

In [109]:
encode=pd.get_dummies(X['Country'])

In [110]:
pd.concat([X['Country'],encode],axis=1)

,Country,Australia,Belgium,Brazil,Bulgaria,Canada,China,Colombia,Finland,France,...,Slovenia,South Africa,Spain,Sweden,Switzerland,"Taiwan, China",Thailand,United Kingdom,United States,Viet Nam
0,Germany,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Canada,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Singapore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Hong Kong SAR, China",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Switzerland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Switzerland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2534,Thailand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2535,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2536,United States,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2537,Viet Nam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [111]:
X.drop('Country',axis=1,inplace=True)

C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [121]:
X.head()
enc1=pd.get_dummies(X['Date'])
pd.concat([X['Date'],enc1],axis=1)
X.drop('Date',axis=1,inplace=True)

C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [122]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
mb=MultinomialNB()
lg=LogisticRegression()
dt=DecisionTreeClassifier()
rt=RandomForestClassifier()
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [123]:
mb.fit(X_train,y_train)

C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [124]:
mb.predict(X_test)

array([ 10,   9,   0,   6,   3,   3,   0,   0,   0,   0,   1,   0,   9,
         1,   3,   0,   0,   0,   0,   6,   0,   6,   0,   0,   0,   0,
         0,   0,   0,   1,   0,   0,   0,   3,   1,   9,   0,   0,   0,
         0, 106,   9,   0,   0,   0,   1,   0,   0,   0,   3,   0,   0,
         0,   0,   0,   0,   0,   0,   3,   0,   0,   3,   0,   0,   0,
         0,   0,   0,   0,   9,   0,   0,   0,   0,   0,   0,   1,   0,
         0,   0,   0,   0,   3,   0,   0,   3,   0,   0,   0,   0,   1,
         0,   0,   9,   0,   1,   3,   0,   0,   0,   0,   0,   0,   0,
         0,   1,   0,   0,   3,   0,   0,   0,   3,   1,   3,   0,   0,
        10,   1,   0,   3,   0,   0,   0,   0,   0,   0,   0,   1,   0,
         0,   0,   0,   3,  10,   0,   0,   3,   0,   0,   1,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   1,   0,   3,   0,   0,   1,
         3,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,
         0,   0,   3,   0,   1,   0,   0,   0,   0,   0,   3,   0,   3,
         0,   0,   0,   3,   0,   0,   1,   6,   0,   6,   3,   0,   0,
         0,   9,   0,   3,   3,   0,   9,   0,   0,   0,   0,   0,   0,
         3,   3,   1,   0,   0,   3,   0,   0,   0,   0,   0,   0,   3,
         0,  25,   0,   0,   0,   1,   0,   0,   0,   9,   1,   2,   0,
         1,   0,   3,   3,   3,   0,   0,   0,   0,   0,   0,   0,   0,
         1,   0,   3, 106,   0,   0,   1,   0,   0,   3,   1,   0,   3,
         0,   0,   3,   3,   1,   3,   0,   3,   0,   1,   0,   3,   3,
         0,   0,   0,   0,   0,   0,   9,   0,   0,   0,   3,   0,   1,
         0,   1,   0,   3,   0,   0,   0,   6,   0,   0,   0,  10,   3,
         0,   0,   1,   0,   1,   0,   0,   0,   0,   3,   0,   1,   0,
         3,   0,   0,   1,   0,   0,   9,   2,   0,   1,   9,   0,   3,
         0,   3,   6,   0,   0,   0,   3,   0,   0,   0,   3,   3,   1,
       106,   1,   0,   0,   0,   0,   0,   0,   9,   0,   6,   1,   1,
         0,   0,   3,   0,   0,   0,   0,   1,   9,   1,   0,   3,   0,
         0,   3,   3,   0, 106,   0,   0,   1,   0,   0,   0,   0,   3,
         0,   0,   9,   0,   0,   9,   0,   0,   2,   3,   0,   0,   0,
         0,  46,   0,   3,   1,   0,   0,   9,   1,   0,   3,   0,   1,
         0,   3,   1,   0,   0,   3,   0,   3,   1,   0,   0,   0,   0,
         0,   3,   3,   0,   2,   0,   0,   0,   0,   0,   3,   0,   0,
         0,   0,   1,   0,   0,   0,   0,   9,   0,   0,   0,   0,   0,
         0, 106,   0,   0,   3,   1,   0,   0,   0,   1,   9,   0,   1,
         0,   0,   0,   0,   0,   1,   0,   3,   0,   0,   0,   0,   3,
         3,   0,   0,   3,   0,   0,   3,   9,   0,   3,   0,   9,   0,
         1,   0,   1,   0,   0,   0,   0,   0,   0,   1,   0,  10,   0,
         0,   0,  10,   0,   0,   0,   0,   0,   3,   0,   0,   0,   0,
         3], dtype=int64)

In [125]:
mb.score(X_test,y_test)

0.1830708661417323

In [126]:
lg.fit(X_train,y_train)

C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [128]:
lg.predict(X_test)
lg.score(X_test,y_test)

0.18700787401574803

In [129]:
dt.fit(X_train,y_train)
dt.predict(X_test)
dt.score(X_test,y_test)

0.6377952755905512

In [130]:
from sklearn.svm import SVC
sv=SVC()
sv.fit(X_train,y_train)
sv.predict(X_test)
sv.score(X_test,y_test)

C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.297244094488189

In [131]:
rt.fit(X_train,y_train)
rt.predict(X_test)
rt.score(X_test,y_test)

C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.6377952755905512

In [132]:
from sklearn.neural_network import MLPClassifier
mlp=MLPClassifier()
mlp.fit(X_train,y_train)
mlp.predict(X_test)
mlp.score(X_test,y_test)

C:\Users\ADMIN\.conda\envs\tensorenv\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.33070866141732286